b.ody{
    background-image: url('../images/start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.back{
    background-color: rgb(164, 208, 216);
    display: block;
    height:400px;
    margin-top:120px;
    border-radius:18px;
}

header{
    text-align: center;
    color:rgb(250, 155, 14);
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin-left:300px;
    height:200px;
    width:200px;
    border-radius: 25px;
    font-size:20px;
    color:green;
    background-color:papayawhip;
    border:30px crimson;
}